<%= form_for :session, url: session_path do |form| %>
  <div class="email">

    <%= form.email_field :email, placeholder: "Email" %>
  </div>
  <div class="password">
    <%= form.password_field :password, placeholder: "Password" %>
  </div>
  <div class="button">
    <%= form.submit "Sign in" %>
  </div>
<% end %>
