<b>Listings</b>
  <%@listings.each do |rental|%>
    <div>
      <div>
        <%=link_to listing_path(rental) do
        image_tag(rental.image_url)
        end %>
      </div>
      <div>
        <%=link_to rental.name, listing_path(rental)%> 
      </div>
    </div>
  <%end%>
