<div id="home">
  <header>
    <h1>Welcome to Rentr</h1>
    <p> Start Renting!</p>
  </header>

  <div>
    <img src = image_url%>
  </div>

  <div>
    <%=@listing.name%>
  </div>

  <div>
    <%=@listing.description%>
  </div>

  

