<h1>Dates available</h1>

<%= form_for [@listing, @date_range] do |f| %>
  <input type="date" type="text" name="date_range[start_date]">
  <input type="date" type="text" name="date_range[end_date]">
  <%= f.submit %>
<% end %>
